.App {
  font-family: "Poppines", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: #fff6f6;
}

/* webkit-scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #413e3280;
  border-radius: 10px;
}
